*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: white;
}
.red{
    color: red;
}

.block{
    display: block;
    margin: 0.5em;
}

#app{
    width: 500px;
    margin: 0 auto;
    
    
}



.imageContainer{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}